.bin/**
.vscode/**
.DS_Store
.devcontainer/**
.github/*
**/.cache
**/package.json
package-lock.json
package.json
npm-debug.log*
node_modules/**
yarn.lock
yarn-debug.log*
yarn-error.log*
ts-node-*
**/coverage
**/__snapshots__
!/.storybook/**
dist/**
**/*.html
docs/**
map_server/**
static/**
public/**