<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.mappers.StorageMapper">
    <select id="updateStorage">
        update storage s set s.storageSize = s.storageSize + #{size} where s.userId = #{userId}
    </select>
</mapper>